:root { --background-color: #f0ece2;
    --header-color: #c7b198;
    --footer-color:#596e79;
    --fillin-color: #dfd3c3;
}
body { height: 100vh;
    background-color: var(--background-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

header {background-color: var(--header-color);
      padding: 10px;
      display: flex;

}

footer { background-color: var(--footer-color);
     padding: 50px;

}
.Logo {
float: left;}

main {display: flex;
          flex-direction: column;
          padding: 50px;
        }

.Vorstellung, .Funktionen {padding: 5px;
                      font-size: 14px;
                      border: solid var(--footer-color) 4px;
                      margin: 10px;
                      background-color: var(--fillin-color);
                    }

.Logo {height: 100px;
            width: 120px;
            float: left;}