:root {
  --background-color: #f0ece2;
  --header-color: #c7b198;
  --footer-color: #596e79;
  --fillin-color: #dfd3c3;
}

.container {
  width: 70%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.kanban-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-color: var(--background-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--header-color);
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  /*Dinger auseinander*/
  align-items: center;
  /*Objekte Mittig*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.268);
}

footer {
  background-color: var(--footer-color);
  padding: 50px;

}

h1 {
  padding: 0;
  margin: 0;
}

.Logo {
  height: 60px;
  width: 90px;
  float: left;
  margin-right: 10px;
}


a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#loginLink {
  color: rgb(0, 0, 0);
}


#registrierenLink {
  color: rgb(0, 0, 0);
}

.kanban-heading-text {
  font-size: 1.8rem;
  background-color: var(--footer-color);
  padding: 0.8rem 1.7rem;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.268);
}

.kanban-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif;
}

.kanban-block {
  padding: 0.6rem;
  width: 100%;
  min-width: 14rem;
  min-height: 4.5rem;
  border-radius: 0.3rem;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.268);
}

#unbearbeitet,
#inbearbeitung,
#bearbeitet {
  background-color: var(--fillin-color);
  border: 0.1rem solid var(--header-color);
}

/*Dropdown*/
body {
  height: 100vh;
  margin: 0;
}

nav {
  overflow: hidden;
  background-color: var(--footer-color);
  border-radius: 8px;
}

#a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none;
}

.dropdown {
  overflow: hidden;
}

/*overflow controls what happens to content that is too big to fit into an area.*/

.dropdown .dropBtn {
  font-size: 16px;
  outline: none; /*outline, line around the border*/
  border: none;
  color: white;
  padding: 10px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

#a:hover .dropdown:hover .dropBtn {
  background-color: brown;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.379);
  border: solid black 2px;
  min-width: 10px; /*minimum width*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; /*specifies the stack order of an element*/
}

.dropdown-content a {
  float: none; /*float: none;*/
  color: black;
  padding: 0px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  padding-right: 0px;
}

.dropdown-content #a:hover {
  background-color: rgba(128, 128, 128, 0.512);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.ticketbutton {
  padding: 10px;
  width: 15%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.268);
  cursor: pointer;
  background-color: var(--fillin-color);
  border: 0.1rem solid var(--header-color);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.ticketbutton:hover {
  background-color: var(--background-color);

}

.centering {
  display: flex;
  justify-content: center;
}

.footer {background-color: var(--footer-color);
  color: var(--background-color);
  padding: 10px};
  
  .info, .copyright, #Kontakt, #copyright, .adress, #adress {margin: 10px;}
  
   .flexbox {display: flex;
                  justify-content: space-between;
                 }      
  
  #Logo2 {height: 60px;
                  width: 90px;
                  float: left;
                 margin-right: 10px;
                }