<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benutzerliste</title>
    <link href="./admin.css" rel="stylesheet">
</head>
<body>
    <header>
        <h2>Benutzerliste</h2>
    </header>
    <form method="get" action="/">
        <input class="searchBar" type="text" name="search" value="{{ search_query }}" placeholder="Suchen...">
        <input id="button" class="SuchenKnopfen" type="submit" value="Suchen">
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Zugeteiltes Team</th>
                <th>Rolle</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for myresults in myresult %}
            <tr>
                <td>{{ myresults[0] }}</td>
                <td>{{ myresults[1] }}</td>
                <td>{{ myresults[2] }}</td>
                <td>{{ myresults[4] }}</td>
                <td>{{ myresults[5] }}</td>
                <td>{{ myresults[6] }}</td>
                <td>
                    {% if myresults[6] == 0 or myresults[6] is none %}
                        <form action="{{ url_for('benutzer_sperren') }}" method="POST">
                            <input type="hidden" name="user_id" value="{{ myresults[0] }}">
                            <input id="button" type="submit" value="Sperren">
                        </form>
                    {% else %}
                        <form action="{{ url_for('benutzer_entsperren') }}" method="POST">
                            <input type="hidden" name="user_id" value="{{ myresults[0] }}">
                            <input id="button" type="submit" value="Entsperren">
                        </form>
                    {% endif %}
                    <form action="{{ url_for ('benutzer_bearbeiten') }}" method="POST">
                        <input type="hidden" name="user_id" value="{{ myresults[0] }}">
                        <input id="button" type="submit" value="Bearbeiten">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <footer class="footer">

    </footer>
</body>
</html>
